html, body, #app, #root {
    height: 100%;
}

textarea {
    max-width: 100%;
}

#content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

#content .row {
    min-height: 100%;
    display: flex;
}

#appModal {
    display: block
}

#signInForm {
    max-width: 512px;
    padding: 16px;
    margin: 128px auto;
}

.glyphicon {
    padding: 4px;
    margin: 4px;
}

.overlay {
    top: 45%;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1104;
}

.overlay .task-controll {
    opacity: 0.8;
}

.overlay .task-controll#delete {
    background-color: #fc6464;
    color: #fcfcfc;
    text-align: center;
    font-size: 24px;
    padding: 18px;
    width: 100%;
}

.overlay .task-controll#edit {
    background-color: #3264ac;
    color: #fcfcfc;
    text-align: center;
    font-size: 24px;
    padding: 18px;
    width: 100%;
}

.navbar {
    background-color: #323232;
}

.sidebar {
    background-color: #635378;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-menu {
    padding: 0;
    margin: 0;
    text-indent: 24px;
    line-height: 48px;
    border-right: 1px solid #969696;
    width: 100%;
}

.sidebar-menu li a span.glyphicon {
    height: 16px;
}

.sidebar-menu li a {
    display: block;
}

.page-header {
    background-color: #dadada;
    color: #646464;
    border-color: #969696;
    border-bottom-style: dashed;
    margin: 0px;
    padding: 16px;
}

.board {
    background-color: #eaeaea;
    text-align: center;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    display: block;
    overflow: hidden;
}

.task-containers {
    padding: 0;
    margin: 0;
    display: block;
}

.task-container-wrapper {
    padding: 16px;
    margin: 0;
}

.task-container-title {
    color: #646464;
    width: 100%;
    font-size: 24px;
}

.task-container {
    background-color: #fcfcfc;
    min-height: 80px;
    width: 100%;
    padding: 0;
    height: 100%;
}

.task {
    width: 100%;
    min-height: 80px;
    text-align: left;
    background-color: #fafafa;
    border: 1px #969696 dashed;
    padding: 16px;
    position: relative;
    display: block; 
}

.task .title {
    font-size: 14px;
    color: #646464;
}

.task .description {
    font-size: 14px;
    color: #969696;
}

.task .priority {
    height: 100%;
    width: 8px;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
}

.task .priority.low {
    background-color: #96ef96;
}

.task .priority.normal {
    background-color: #efef96;
}

.task .priority.high {
    background-color: #ef9696;
}

ul.nav.navbar-nav li#create-task-btn {
    padding: 4px;
}
ul.nav.navbar-nav li#create-task-btn a {
    padding: 12px;
    border-radius: 8px;
    background-color: #32ac32;
    color: #ffffff;
}

[draggable="true"] {
    cursor: move;
}